.DS_Store
.vscode
!.gitignore
!composer.json
!package.json
!gulpfile.js
yarn.lock
node_modules

cypress
administrator
api
cache
cli
components

# !images
images

includes
language
layouts
libraries
modules
plugins
templates
tmp
vendor
composer.lock
configuration.php
htaccess.txt
.htaccess
index.php
LICENSE.txt
README.txt
robots.txt
robots.txt.dist
web.config.txt
web.config

!tests/*

media

build

!administrator
administrator/modules/*
!administrator/modules/
!administrator/modules/mod_mip_darkmode_switch

layouts/*

!administrator/language
/administrator/language/*
!/administrator/language/en-GB
/administrator/language/en-GB/*

!administrator/language/en-GB/mod_mip_darkmode_switch.ini
!administrator/language/en-GB/mod_mip_darkmode_switch.sys.ini

# !components
components/*

layouts/*

api/*

# !language
language/*
# !language/en-GB
# language/en-GB/*


plugins/*

modules/*

administrator/logs
administrator/manifests
administrator/help
package-lock.json
extensions.json
mediamodules